extends layout
include various

block content
    +notification(notification, message, responses)
    .row
      .col-md-7
        .panel.panel-default
          .panel-heading
            h2.panel-title 
              span Benutzer 
              span
                a.btn.btn-default.btn-sm(href='/user/add' title='Benutzer*in erstellen') 
                  span.glyphicon.glyphicon-plus
              span
                a.btn.btn-default.btn-sm(href='/user/invite' title='Benutzer*in einladen') 
                  span.glyphicon.glyphicon-envelope

          .panel-body
            table.table.datatable(id='usertable')
              thead
                tr
                  th.col-md-3 ID
                  th.col-md-3 Name
                  th.col-md-2 Zugehörigkeit
                  th.col-md-2 Ort
                  th.col-md-2.text-right Aktionen
                  th.hidden DN
              tbody
                each user in users
                  if (user.uid)
                    tr
                      td= user.uid
                      td= user.cn
                      td= user.title
                      td= user.l
                      td.text-right
                        if currentUser.isAdmin
                          a.btn.btn-default.btn-sm(href='/user/edit/'+user.dn) #[span.glyphicon.glyphicon-pencil]
                        else if currentUser.isGroupAdmin
                          a.btn.btn-default.btn-sm(href='/user/editgroups/'+user.dn) #[span.glyphicon.glyphicon-pencil]
                        a.btn.btn-default.btn-sm.confirm(data-link='/user/delete/'+user.dn, data-confirmtext='Willst du Benutzer*in ' + user.cn + ' wirklich löschen?') #[span.glyphicon.glyphicon-trash]
                      td.hidden.dn= user.dn
      .col-md-5
        .panel.panel-default
          .panel-heading
            h2.panel-title 
              span Gruppen 
              if (currentUser.isAdmin)
                span
                  a.btn.btn-default.btn-sm(href='/group/add') 
                    span.glyphicon.glyphicon-plus
          .panel-body
            table.table.datatable(id='grouptable')
              thead
                tr
                  th.col-md-3 Interner Name
                  th.col-md-3 Anzeigename
                  th.col-md-4 Beschreibung
                  if currentUser.isAdmin
                    th.col-md-2.text-right Aktionen
                  th.hidden Members
                  th.hidden Admins
              tbody
                each group in groups
                  if (group.cn)
                    tr
                      td= group.cn
                      td= group.o
                      td= group.cn
                      if currentUser.isAdmin
                        td.text-right
                          a.btn.btn-default.btn-sm(href='/group/edit/'+group.dn) #[span.glyphicon.glyphicon-pencil]
                          a.btn.btn-default.btn-sm.confirm(data-link='/group/delete/'+group.dn, data-confirmtext='Willst du die Gruppe ' + group.cn + ' wirklich löschen?') #[span.glyphicon.glyphicon-trash]
                      td.hidden.dn 
                        if (group.member && group.member instanceof Array)
                          each member in group.member
                            .memberdn= member
                        else if (group.member)
                            .memberdn= group.member
                      td.hidden.dn 
                        if (group.owner && group.owner instanceof Array)
                          each admin in group.owner
                            .admindn= admin
                        else if (group.owner)
                            .admindn= group.owner