extends layout
include various

block content
    +notification(notification, message, responses)  
    .row
      .col-md-6
        .panel.panel-default
          .panel-heading
            h2.panel-title Gruppen #[a.btn.btn-default.btn-sm(href='/group/add') #[span.glyphicon.glyphicon-plus]]
          .panel-body
            table.table.datatable(id='grouptable_cat')
              thead
                tr
                  th.col-md-4 Name
                  th.col-md-6 Beschreibung  
                  th.col-md-2.text-right Aktionen
              tbody
                each group in groups
                  if (group.cn)
                    tr
                      td.groupcn= group.cn
                      td= group.description                      
                      td.text-right
                          a.btn.btn-default.btn-sm(href='/group/edit/'+group.dn) #[span.glyphicon.glyphicon-pencil]
                          a.btn.btn-default.btn-sm.confirm(data-link='/group/delete/'+group.dn, data-confirmtext='Willst du die Gruppe ' + group.cn + ' wirklich löschen?') #[span.glyphicon.glyphicon-trash]
      .col-md-6
        .panel.panel-default
          .panel-heading
            h2.panel-title Discourse Kategorien #[a.btn.btn-default.btn-sm(href='/cat/add') #[span.glyphicon.glyphicon-plus]]
          .panel-body
            table.table(id='cattable')
              thead
                tr
                  th.col-md-9 Name
                  th.col-md-2.text-right Aktionen
                  th.hidden Groups
              tbody
                if categories
                  each category in categories
                    tr
                      td 
                        if category.subCategories && category.subCategories.length > 0
                          span.glyphicon.glyphicon-plus.subcategories-button    
                        else
                          span.glyphicon.glyphicon-plus.glyphicon-hide                                             
                        raw &nbsp; #{category.name}
                      td.text-right
                          a.btn.btn-default.btn-sm(href='/cat/edit/'+category.id) #[span.glyphicon.glyphicon-pencil]
                          a.btn.btn-default.btn-sm.confirm(data-link='/cat/delete/'+category.id, data-confirmtext='Willst du die Kategorie ' + category.name + ' wirklich löschen?') #[span.glyphicon.glyphicon-trash]
                      td.hidden.groups 
                        if (category.groups && category.groups instanceof Array)
                          each group in category.groups
                            .groupname= group 
                    each subCategory in category.subCategories  
                      tr.hidden.sub-category
                        td(style="padding-left:50px;")= subCategory.name
                        td.text-right
                            a.btn.btn-default.btn-sm(href='/cat/edit/'+subCategory.id) #[span.glyphicon.glyphicon-pencil]
                            a.btn.btn-default.btn-sm.confirm(data-link='/cat/delete/'+subCategory.id, data-confirmtext='Willst du die Kategorie ' + subCategory.name + ' wirklich löschen?') #[span.glyphicon.glyphicon-trash]
                        td.hidden.groups 
                          if (subCategory.groups && subCategory.groups instanceof Array)
                            each group in subCategory.groups
                              .groupname= group