mixin user_form(action, user, admin)
  form.form-horizontal.checkbox-form.validation-form(action=action method="post" role="form")
        if user && user.dn
          input.hidden(name="dn", value=user.dn)
        if user && user.uid
          input.hidden(name="uid", value=user.uid)            
        legend #{(user && action == "/edit_me"? "Daten Ändern" : "Benutzer*in " + (user && action=="/user/edit"? "Bearbeiten": "Anlegen"))}
        .col-md-6
          if action != "/edit_me"
            .form-group.required
              label.control-label.col-md-4(for="sn") Interne User-ID
              .col-md-8
                .input-group
                  span.input-group-addon
                    i.glyphicon.glyphicon-user
                  input.form-control(type="text" id="changedUid" name="changedUid" value=(user?user.uid:undefined) required)        
          else
            if user && user.uid != null
              .form-group
                label.control-label.col-md-4 Username
                .col-md-8
                  p.form-control-static= user.uid          
          .form-group.required
            label.control-label.col-md-4(for="givenName") Vorname
            .col-md-8
              .input-group
                span.input-group-addon
                  i.glyphicon.glyphicon-user
                input.form-control(type="text" id="givenName" name="givenName" value=(user?user.givenName:undefined) required data-msg="Darf nicht leer sein")
          .form-group.required
            label.control-label.col-md-4(for="sn") Nachname
            .col-md-8
              .input-group
                span.input-group-addon
                  i.glyphicon.glyphicon-user
                input.form-control(type="text" id="sn" name="sn" value=(user?user.sn:undefined) required)
          if action != "/edit_me"
            .form-group.required
              label.control-label.col-md-4(for="sn") Projekt
              .col-md-8
                .input-group
                  span.input-group-addon
                    i.glyphicon.glyphicon-home
                  input.form-control(type="text" id="businessCategory" name="businessCategory" value=(user?user.businessCategory:undefined) required)                  
          else
            .form-group
              label.control-label.col-md-4 Projekt
              .col-md-8
                p.form-control-static= user.businessCategory
                input.hidden(name="businessCategory", value=(user?user.businessCategory:undefined)) 
          if action != "/edit_me"                
            .form-group.required
              label.control-label.col-md-4 E-Mail
              .col-md-8
                .input-group
                  span.input-group-addon
                    i.glyphicon.glyphicon-envelope
                  input.form-control(type="email" name="mail" value=(user?user.mail:undefined) required)    
          else
            .form-group
              label.control-label.col-md-4 E-Mail
              .col-md-8
                p.form-control-static= user.mail
                input.hidden(name="mail", value=(user?user.mail:undefined))                   
          if action == "/user/add"
            .form-group
              .col-md-4 &nbsp;
              .col-md-8.checkbox
                label #[input(id="activation_checkbox" type="checkbox" name="activation")] Benutzer*in Aktivierungsmail schicken 
          div(id="password_fields")                                      
            .form-group
              label.control-label.col-md-4 Passwort
              .col-md-8
                .input-group
                  span.input-group-addon
                    i.glyphicon.glyphicon-lock
                  input.form-control(type="password" data-toggle="tooltip" title="Min. 8 Zeichen, je min. 1 Groß- und 1 Kleinbuchstabe, 1 Zahl und 1 Sonderzeichen" id="password" name="userPassword" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,30}$")     
            .form-group   
              label.control-label.col-md-4 
              .col-md-8
                .input-group
                  span.input-group-addon
                    i.glyphicon.glyphicon-lock
                  input.form-control(type="password" id="password_confirmation" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,30}$" name="userPassword2")
        if (admin)
          .col-md-6
            .form-group
              label.control-label.col-md-2 Gruppen
              .col-md-10
                .well
                  ul.list-group.list-user-groups.checked-list-box(id="check-list-box")
                    each group in groups
                      if (group.cn)
                        if user && user.dn && group.owner && group.owner.indexOf(user.dn) > -1
                          li.list-group-item.active.admin(id=group.dn)=group.cn
                        else if user && user.dn && group.member && group.member.indexOf(user.dn) > -1
                          li.list-group-item.active(id=group.dn)=group.cn
                        else
                          li.list-group-item(id=group.dn)=group.cn
                          //label #[input(type="checkbox" name="groups[]" value="group.dn" checked=(group.isMember ? "checked" : undefined))] #{group.cn}

        if (admin)
          .form-group
            .col-md-12.text-right
              button(type='submit' class='btn btn-primary') Speichern
        else
          .col-md-12
            .form-group
              .col-md-6.text-right
                button(type='submit' class='btn btn-primary') Speichern


mixin password_form(action, user, token)
  form.form-horizontal.checkbox-form.validation-form(action=action method="post" role="form")
        input.hidden(name="uid", value=user.uid) 
        input.hidden(name="dn", value=user.dn)      
        input.hidden(name="token", value=token)                  
        legend Passwort Ändern
        .col-md-6
          .form-group
              label.control-label.col-md-4 Interner Username
              .col-md-8
                p.form-control-static= user.uid          
          .form-group
              label.control-label.col-md-4 Loginname
              .col-md-8
                p.form-control-static= user.cn
          div(id="password_fields")                                      
            .form-group
              label.control-label.col-md-4 Passwort
              .col-md-8
                .input-group
                  span.input-group-addon
                    i.glyphicon.glyphicon-lock
                  input.form-control(type="password" id="password"  data-toggle="tooltip" title="Min. 8 Zeichen, je min. 1 Groß- und 1 Kleinbuchstabe, 1 Zahl und 1 Sonderzeichen" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,30}$" name="userPassword")
            .form-group   
              label.control-label.col-md-4 
              .col-md-8
                .input-group
                  span.input-group-addon
                    i.glyphicon.glyphicon-lock
                  input.form-control(type="password" id="password_confirmation" name="userPassword2" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,30}$")
        .col-md-12
          .form-group
            .col-md-6.text-right
              button(type='submit' class='btn btn-primary') Speichern

mixin lostpasswd_form(action)
  form.form-horizontal.checkbox-form.validation-form(action=action method="post" role="form")
        legend Link zum Ändern des Passworts schicken
        .col-md-6
          .form-group.required
            label.control-label.col-md-4 E-Mail
            .col-md-8
              .input-group
                span.input-group-addon
                  i.glyphicon.glyphicon-envelope
                input.form-control(type="email" name="mail" required)    
         .col-md-12
          .form-group
            .col-md-6.text-right
              button(type='submit' class='btn btn-primary') Speichern