mixin user_form_textinput(type, label, icon, id, value, required, placeholder, helpText, pattern, maxlength, token)
  .form-group(class=(required?"required":""))
    label.control-label.col-md-4(for=id)=label
    .col-md-8
      .input-group
        span.input-group-addon
          i.glyphicon(class=icon)
        input.form-control(type=type id=id name=id value=value previous-value=value data-toggle="tooltip" title=placeholder autocomplete="off" required=required pattern=pattern maxlength=maxlength token=token)
      if helpText
        span.help-block(id="help"+id)=helpText
          

mixin user_form_static(label, value)
  .form-group
    label.control-label.col-md-4=label
    .col-md-8
      p.form-control-static= value  


mixin user_form_password(required=false)      
  .form-group
    label.control-label.col-md-4 Passwort
    .col-md-8
      .input-group
        span.input-group-addon
          i.glyphicon.glyphicon-lock
        input(name = "DummyUsername" type="text" style="display:none;")
        input(name = "DummyPassword" type="password" style="display:none;")                      
        input.form-control(type="password" autocomplete="off" data-toggle="tooltip"  required=required title="Mindestens Sicherheitsstufe 3" id="password" name="password")
  .form-group   
    label.control-label.col-md-4 
    .col-md-8
      .input-group
        span.input-group-addon
          i.glyphicon.glyphicon-lock
        input.form-control(type="password" autocomplete="off" id="passwordRepeat" name="passwordRepeat" title="Passwörter müssen übereinstimmen" data-rule-equalTo="#password" required=required)
  script(type='text/javascript' src='/public/javascripts/zxcvbn.js')     

mixin user_form_groups(user, groups)
  .form-group
    label.control-label.col-md-2 Gruppen
    .col-md-10
      .well
        ul.list-group.list-user-groups.checked-list-box(id="check-list-box" is-admin=currentUser.isAdmin)
          each group in groups
            if (group.cn)
              if user && user.dn && group.owner && group.owner.indexOf(user.dn) > -1
                li.list-group-item.active.admin(id=group.dn)=group.cn
              else if user && user.dn && group.member && group.member.indexOf(user.dn) > -1
                li.list-group-item.active(id=group.dn)=group.cn
              else
                li.list-group-item(id=group.dn)=group.cn        

mixin user_form(action, user, admin, token)
  form.form-horizontal.checkbox-form.validation-form(action=action method="post" role="form" is-admin=currentUser.isAdmin)
        if user && user.dn
          input.hidden(name="dn", value=user.dn)
        if user && user.uid
          input.hidden(name="uid", value=user.uid)      
        if token && token.token
          input.hidden(name="token" value=token.token)      
        legend=titleShort
        .col-md-6
          if action !== '/user/editgroups'
            +user_form_textinput("text", 'Anzeigename', 'glyphicon-user', 'cn', (user?user.cn:undefined), true, 'z.B. Theresa Stanz', undefined, undefined, undefined, token?token.token:undefined)
          else 
            +user_form_static('Anzeigename', user.cn)
          if action == "/user/add" || action == '/user/invite/accept'
            +user_form_textinput("text", 'User ID', 'glyphicon-user', 'changedUid', (user?user.changedUid:undefined), true, 'z.B. resi_stanz (nur Buchstaben, Zahlen und "_")', 'Die User ID kann später nicht mehr verändert werden!', '[0-9A-Za-z_]*', 35, token?token.token:undefined)
          else if user && user.uid
            +user_form_static('User ID', user.uid)
          if action != '/user/editgroups'
            +user_form_textinput("text", 'Zugehörigkeit', 'glyphicon-home', 'ou', (user?user.ou:undefined), true, 'z.B. dein Projektname, Einzelmitglied oder ähnliches')
          else 
            +user_form_static('Zugehörigkeit', user.ou)
          if action != '/user/editgroups'
            +user_form_textinput("text", 'Ort', 'glyphicon-home', 'l', (user?user.l:undefined), false, 'z.B. Linz')
          else 
            +user_form_static('Ort', user.l)
          if (token)
            +user_form_static('E-Mail', token.data.mail)
          else if  action == "/edit_me" || action =="/user/editgroups"
            +user_form_static('E-Mail', user.mail)
          else
            +user_form_textinput('email', 'E-Mail', 'glyphicon-envelope', 'mail', (user?user.mail:undefined), true, 'z.B. resi.stanz@beispiel.org')
          if currentUser.isAdmin && action !== '/user/invite/accept' && action !== '/edit_me' && action !== '/user/editgroups'
            +user_form_textinput("text", 'Speicherplatz', 'glyphicon-cloud-upload', 'description', (user?user.description:undefined), false, 'z.B. 10 GB')
          else if action !== '/user/invite/accept'
            +user_form_static('Speicherplatz', user?user.description:"")
          if action != '/user/editgroups'
            .form-group.required
              label.control-label.col-md-4(for="language") Sprache 
              .col-md-8
                .input-group
                  span.input-group-addon
                    i.glyphicon.glyphicon-bullhorn
                  select.form-control(id="language" name="language")
                    option(value="de") Deutsch
                    option(value="en") English                                          
            div(id="password_fields")                                      
              +user_form_password((action == "/user/add" || action == '/user/invite/accept'))
          else
            +user_form_static('Sprache', user.language=='en'?'English':'Deutsch')
        if ((currentUser.isAdmin || currentUser.isGroupAdmin) && groups)
          .col-md-6
            +user_form_groups(user, groups)
          .form-group
            .col-md-12.text-right
              button(type='submit' class='btn btn-primary') Speichern
        else
          .col-md-12
            .form-group
              .col-md-6.text-right
                button(type='submit' class='btn btn-primary') Speichern


mixin password_form(action, user, token)
  form.form-horizontal.checkbox-form.validation-form(action=action method="post" role="form")
        input.hidden(name="uid", value=user.uid) 
        input.hidden(name="dn", value=user.dn)      
        input.hidden(name="token", value=token)                  
        legend Passwort Ändern
        .col-md-6
          +user_form_static('User ID', user.uid)
          +user_form_static('Anzeigename', user.cn)
          div(id="password_fields")                                      
            +user_form_password(true)
        .col-md-12
          .form-group
            .col-md-6.text-right
              button(type='submit' class='btn btn-primary') Speichern

mixin lostpasswd_form(action)
  form.form-horizontal.checkbox-form.validation-form(action=action method="post" role="form")
    legend Link zum Ändern des Passworts schicken
    .col-md-6
      +user_form_textinput('email', 'E-Mail', 'glyphicon-envelope', 'mail', undefined, true, 'z.B. resi.stanz@beispiel.org')
    .col-md-12
      .form-group
        .col-md-6.text-right
          button(type='submit' class='btn btn-primary') Senden

mixin invite_form(action, user, groups)
  form.form-horizontal.checkbox-form.validation-form(action=action method="post" role="form" is-admin=currentUser.isAdmin)
    legend='Person zu ' + config.settings.general.title + ' einladen'
    .col-md-6
      +user_form_textinput('email', 'E-Mail', 'glyphicon-envelope', 'mail',  (user?user.mail:undefined), true, 'z.B. resi.stanz@beispiel.org')
    .col-md-6
        +user_form_groups(user, groups)          
    .col-md-12
      .form-group
        .col-md-6.text-right
          button(type='submit' class='btn btn-primary') Senden              